@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color:#fff;
  line-height: 1.5;
  letter-spacing: 1px;
}

.wrapper{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../image/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial{
  padding:30px 100px;
}

article h1{
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
article h1:after{
  content:"";
  height: 5px;
  width:225px;
  background-color: #fff;
  display: block;
  margin: auto;
}
article img{
  height: 250px;
  width: 250px;
  border:2px solid #fff;
  border-radius: 50%;
  margin-top: 60px;
}

blockquote{
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

article h5{
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 30px;
  letter-spacing: 1.5px;
}

article p{
  font-size: 17px;
}

.button {
  background-color: #50759C;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 16px 2px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
